<div class='container'>
  <div class='row'>
    {{#each model as |product|}}
      {{#product-list addToCart='addToCart' removeFromCart='removeFromCart' product=product}}
        {{outlet}}
      {{/product-list}}
    {{/each}}
  </div>
  <div class='row'>
    <div class='col-xs-6 col-sm-6 col-md-4'>
      <h2> Shopping Cart </h2>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>
    </div>
  </div>
</div>
