<center><h2>Responsive Retailer</h2></center>

<div class='row'>
  {{#each model as |product|}}
    {{#individual-product product=product}}
      {{outlet}}
    {{/individual-product}}
  {{/each}}
</div>
