<div class='container-fluid'>
  <div class='row'>
    {{#each model as |product|}}
      {{#individual-product product=product}}
        {{outlet}}
      {{/individual-product}}
    {{/each}}
  </div>
</div>
